@import "../../../../../../css/variables";

.logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 70px;
    }

    span {
        word-break: keep-all;
        margin-left: 10px;
        color: $white;
        font-weight: bold;
        font-size: 25px;
    }
}
